<mat-card-title>RETAILER HISTORY</mat-card-title>
<mat-card>
<div class="example" >
    <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
      <td mat-cell *matCellDef="let element"> {{element.collectionDate | date }} </td>
    </ng-container>
    <ng-container matColumnDef="batchNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BATCH</th>
      <td mat-cell *matCellDef="let element"> {{element.batchNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="storename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>STORE</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="programName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PROGRAM</th>
      <td mat-cell *matCellDef="let element"> {{element.programName}} </td>
    </ng-container>
    <ng-container matColumnDef="noOfBags">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>BOXES</th>
      <td mat-cell *matCellDef="let element"> {{element.noOfBags}} </td>
    </ng-container>
    <ng-container matColumnDef="collectionTotalWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TOTAL<br> WEIGHT</th>
      <td mat-cell *matCellDef="let element"> {{element.collectionTotalWeight}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTION</th>
      <td mat-cell *matCellDef="let element">
       <mat-icon class="print1" (click)="openDialog(element)" matTooltip="Print">print</mat-icon>
     </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
</mat-card>

