<mat-card-title>TRIP LIST</mat-card-title>
<mat-card>
  <form [formGroup]="regiForm" (ngSubmit)="fillAttendance(regiForm.value)">
    <div fxLayout="row">
    <mat-form-field style="margin-left: 15px; width: 20%">
      <input formControlName="startdate" matInput [matDatepicker]="picker"
             placeholder="Start Date" (focus)="picker.open()" [min]="today">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker></mat-datepicker>
      <!--
      <mat-error *ngFor="let validation of account_validation_messages.dateofappointment">
        <mat-error class="error-message" *ngIf="regiForm.get('dateofappointment').hasError(validation.type) && (regiForm.get('dateofappointment').dirty || regiForm.get('dateofappointment').touched)">{{validation.message}}</mat-error>
      </mat-error>
  -->
    </mat-form-field>

    <mat-form-field style="margin-left: 15px; width: 20%">
      <input formControlName="enddate" matInput [matDatepicker]="picker2"
             placeholder="End Date" (focus)="picker2.open()" [min]="today">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker2></mat-datepicker>
      <!--
      <mat-error *ngFor="let validation of account_validation_messages.dateofappointment">
        <mat-error class="error-message" *ngIf="regiForm.get('dateofappointment').hasError(validation.type) && (regiForm.get('dateofappointment').dirty || regiForm.get('dateofappointment').touched)">{{validation.message}}</mat-error>
      </mat-error>
      -->
    </mat-form-field>
    <mat-button-toggle (click)="fillTripList(regiForm.value)" style="margin-left: 15px;">SEARCH</mat-button-toggle>
   
    <mat-form-field style="margin-left: 60px;width:20%">
      <input matInput (keyup)="applyFilter($event.target.value)"
             placeholder="Filter by Ticket or Status or DPM or Centre column value">
    </mat-form-field>

    <mat-button-toggle (click)="exportCsv()" style="margin-left: 15px;">EXPORT DATA</mat-button-toggle>
  </div>


<div class="example">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="ticket">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TICKET</th>
      <td mat-cell *matCellDef="let element"> {{element.ticket}} </td>
    </ng-container>
    <ng-container matColumnDef="dpm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DPM</th>
      <td mat-cell *matCellDef="let element"> {{element.dpm}} </td>
    </ng-container>
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DISTANCE</th>
      <td mat-cell *matCellDef="let element"> {{element.distance}} </td>
    </ng-container>
	<ng-container matColumnDef="actuals">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTUALS</th>
      <td mat-cell *matCellDef="let element"> {{element.distanceTravelled}} </td>
    </ng-container>


     <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>COST</th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="tripStart">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>TRIP START</th>
    <td mat-cell *matCellDef="let element"> {{element.tripStart}} </td>
    </ng-container>

    <ng-container matColumnDef="tripEnd">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>TRIP END</th>
    <td mat-cell *matCellDef="let element"> {{element.tripEnd}} </td>
    </ng-container>

    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PHOTO</th>
      <td mat-cell *matCellDef="let element"> <span class="mobile-label">
           <mat-icon class="photo" (click)="viewPhoto(element.photo)" matTooltip="View Photo">view_photo</mat-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons></mat-paginator>
</div>
</form>
</mat-card>

