
<mat-card class="form">
  <div class="example-container">
    <mat-card-title>ADD DEPARTMENT INFORMATION</mat-card-title>
    <mat-card-content>
      <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">

        <mat-form-field>
          <input formControlName="departmentNameFromList" matInput placeholder="Department Name" [matAutocomplete]="auto" name="dept">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDepts" >
            <mat-option *ngFor="let dept of depts" [value]="dept">
              {{ dept.name }}
            </mat-option>
          </mat-autocomplete>
          <!--
          <mat-error *ngFor="let validation of deptCheck.departmentName">
            <mat-error class="error-message"
                       *ngIf="regiForm.get('departmentName').hasError(validation.type) && (regiForm.get('departmentName').dirty || regiForm.get('departmentName').touched)">{{validation.message}}</mat-error>
          </mat-error>
          -->
        </mat-form-field>

        <mat-form-field>
          <input formControlName="departmentHeadList" matInput placeholder="Department Head" [matAutocomplete]="autoHeads" name="deptHead">
          <mat-autocomplete #autoHeads="matAutocomplete" [displayWith]="displayDeptHeads" >
            <mat-option *ngFor="let deptHead of deptHeads" [value]="deptHead">
              {{ deptHead.firstName }} {{ deptHead.lastName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <label>
          <input hidden formControlName="departmentId" [(ngModel)]="departmentId">
          <input hidden formControlName="centreId" [(ngModel)]="centreId">
          <input hidden formControlName="userId" [(ngModel)]="userId">
          <input hidden formControlName="departmentHeadId" [(ngModel)]="departmentHeadId">
        </label>
        <mat-card-footer>
          <button mat-raised-button color="accent" [disabled]="!regiForm.valid">Create</button>
        </mat-card-footer>

      </form>
    </mat-card-content>
  </div>
</mat-card>

