mat-card-title
{
color:#224f88;
}
mat-card-subtitle
{
color:#fff;	
font-size: 23px;
}
.example-header-image1 {
background-size: cover;
}
.example-header-image2 {
background-size: cover;
}
.example-header-image3 {
background-size: cover;
}
.example-header-image4 {
background-size: cover;
}
.example-header-image5 {
  background-size: cover;
}
mat-card.header1.mat-card
{
background-color: #d6561c;
}
mat-card.header2.mat-card
{
background-color: #848833;
}
mat-card.header3.mat-card
{
background-color: #8b2e92;
}
mat-card.header4.mat-card
{
background-color: #b59732;
}
div.row
{
margin-top: 20px;
}
mat-icon.mat-icon
{
color: #fff;
height: 14px;
font-size: 30px;
}
mat-card.header11.mat-card
{
background-color: #d6561c96;
}
mat-card.header111.mat-card
{
background-color: #d6561c96;
color: #ffff;
font-size: 30px;
}
mat-card.header12.mat-card
{
background-color: #84883391;
}
mat-card.header122.mat-card
{
background-color: #84883391;
color: #ffff;
font-size: 30px;
}
mat-card.header13.mat-card
{
background-color: #8b2e92a8;
}
mat-card.header133.mat-card
{
background-color: #8b2e92a8;
color: #ffff;
font-size: 30px;
}
mat-card.header14.mat-card
{
background-color: #b597329c;
}
mat-card.header144.mat-card
{
background-color: #b597329c;
color: #ffff;
font-size: 30px;
}
mat-card.header5.mat-card {
  background-color: rgba(13, 12, 181, 0.61);
}
mat-card.header15.mat-card
{
  background-color: rgba(13, 12, 181, 0.61);
}
mat-card.header155.mat-card
{
  background-color: rgba(13, 12, 181, 0.61);
  color: #ffff;
  font-size: 30px;
}
.common5
{
  background-color: rgba(71, 72, 181, 0.61);
}
.common1
{
background-color: #d6561c96;	
}
.common2
{
background-color: #84883391;
}
.common3
{
background-color: #8b2e92a8;
}
.common4
{
background-color: #b597329c;
}
